
/*GLOBALS*/

* {
  font-family: 'Proxima Nova Bold',sans-serif;
}

li {
    list-style: none;
}


/*FONT*/

.italic {font-style: italic;}
.gothic{font-family: 'TradeGothicLTPro-BdCn20', sans-serif;}
.arial{font-family: 'Arial';}
.open-sans{font-family: 'Open Sans', sans-serif;}

.font12{font-size: 12px;}
.font14{font-size: 14px;}
.font16{font-size: 16px;}
.font18{font-size: 18px;}
.font20{font-size: 20px;}
.font22{font-size: 22px;}
.font24{font-size: 24px;}
.font26{font-size: 26px;}
.font28{font-size: 28px;}
.font30{font-size: 30px;}
.font32{font-size: 32px;}
.font34{font-size: 34px;}
.font36{font-size: 36px;}
.font38{font-size: 38px;}
.font40{font-size: 40px;}
.font60{font-size: 60px;}
.font80{font-size: 80px;}
.font100{font-size: 100px;}
.font120{font-size: 120px;}
.font140{font-size: 140px;}
.font160{font-size: 160px;}
.font200{font-size: 200px;}

.line26 {line-height: 26px;}
.line28 {line-height: 28px;}

/*TEXT COLORS*/
.white {color: white;}
.black {color: black;}
.gray1 {color: #111;}
.gray2 {color: #222;}
.gray3 {color: #333;}
.gray4 {color: #444;}
.gray5 {color: #555;}
.gray6 {color: #666;}
.gray7 {color: #777;}
.gray8 {color: #888;}
.gray9 {color: #999;}
.red {color:red;}
.orange{color:orange;}
.yellow{color:yellow;}
.green{color:green;}
.blue{color:blue;}
.purple{color:purple;}

/*BKG COLORS*/
.white-bkg {background-color: white;}
.black-bkg {background-color: black;}
.gray1-bkg {background-color: #111;}
.gray2-bkg {background-color: #222;}
.gray3-bkg {background-color: #333;}
.gray4-bkg {background-color: #444;}
.gray5-bkg {background-color: #555;}
.gray6-bkg {background-color: #666;}
.gray7-bkg {background-color: #777;}
.gray8-bkg {background-color: #888;}
.gray9-bkg {background-color: #999;}
.red-bkg {background-color:red;}
.orange-bkg {background-color:orange;}
.yellow-bkg {background-color:yellow;}
.green-bkg {background-color:green;}
.blue-bkg {background-color:blue;}
.purple-bkg {background-color:purple;}
/*PADDINGS*/

/*PADDING BOTTOM*/
.padding-btm0{padding-bottom: 0px;}
.padding-btm5{padding-bottom: 5px;}
.padding-btm10{padding-bottom: 10px;}
.padding-btm15{padding-bottom: 15px;}
.padding-btm20{padding-bottom: 20px;}
.padding-btm25{padding-bottom: 25px;}
.padding-btm30{padding-bottom: 30px;}

/*PADDING TOP*/
.padding-top0{padding-top: 0px;}
.padding-top5{padding-top: 5px;}
.padding-top10{padding-top: 10px;}
.padding-top15{padding-top: 15px;}
.padding-top20{padding-top: 20px;}
.padding-top25{padding-top: 25px;}
.padding-top30{padding-top: 30px;}

/* PADDING LEFT */
.padding-left0{padding-left: 0px !important;}
.padding-left5{padding-left: 5px !important;}
.padding-left10{padding-left: 10px !important;}
.padding-left15{padding-left: 15px !important;}
.padding-left20{padding-left: 20px !important;}
.padding-left25{padding-left: 25px !important;}
.padding-left30{padding-left: 30px !important;}
.padding-left35{padding-left: 35px !important;}

/* PADDING RIGHT */
.padding-right0{padding-right: 0px !important;;}
.padding-right5{padding-right: 5px !important;;}
.padding-right10{padding-right: 10px !important;;}
.padding-right15{padding-right: 15px !important;;}
.padding-right20{padding-right: 20px !important;;}
.padding-right25{padding-right: 25px !important;;}
.padding-right30{padding-right: 30px !important;;}
.padding-right35{padding-right: 35px !important;;}

/*MARGINS*/

/*MARGIN BTM*/
.margin-btm0{margin-bottom: 0px;}
.margin-btm5{margin-bottom: 5px;}
.margin-btm10{margin-bottom: 10px;}
.margin-btm15{margin-bottom: 15px;}
.margin-btm20{margin-bottom: 20px;}
.margin-btm25{margin-bottom: 25px;}
.margin-btm30{margin-bottom: 30px;}

/*MARGIN TOP*/
.margin-top0{margin-top: 0px;}
.margin-top5{margin-top: 5px;}
.margin-top10{margin-top: 10px;}
.margin-top15{margin-top: 15px;}
.margin-top20{margin-top: 20px;}
.margin-top25{margin-top: 25px;}
.margin-top30{margin-top: 30px;}

/*MARGIN LEFT*/
.margin-left0{margin-left: 0px;}
.margin-left5{margin-left: 5px;}
.margin-left10{margin-left: 10px;}
.margin-left15{margin-left: 15px;}
.margin-left20{margin-left: 20px;}
.margin-left25{margin-left: 25px;}
.margin-left30{margin-left: 30px;}
.margin-left35{margin-left: 35px;}
.margin-left40{margin-left: 40px;}
.margin-left45{margin-left: 45px;}
.margin-left50{margin-left: 50px;}
.margin-left55{margin-left: 55px;}

/*MARGIN RIGHT*/
.margin-right0{margin-right: 0px;}
.margin-right5{margin-right: 5px;}
.margin-right10{margin-right: 10px;}
.margin-right15{margin-right: 15px;}
.margin-right20{margin-right: 20px;}
.margin-right25{margin-right: 25px;}
.margin-right30{margin-right: 30px;}
.margin-right35{margin-right: 35px;}
.margin-right40{margin-right: 40px;}
.margin-right45{margin-right: 45px;}
.margin-right50{margin-right: 50px;}
.margin-right55{margin-right: 55px;}



/* SPRITES */

.icon-play {
height:25px;
width:25px;
background-image:url('/images/status.png'); /*your location of the image may differ*/
}

/*SIDEBAR*/


*,
*:after,
*::before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
.st-container,
.st-pusher,
.st-content {
    height: 100%;
}

.st-content {
    overflow-y: scroll;
    background: #f3efe0;
}

.st-content,
.st-content-inner {
    position: relative;
}

.st-container {
    position: relative;
    overflow: hidden;
}

.st-pusher {
    position: relative;
    left: 0;
    z-index: 99;
    height: 100%;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.st-pusher::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

.st-menu-open .st-pusher::after {
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 300px;
    height: 100%;
    background: #48a770;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.st-menu::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.st-menu-open .st-menu::after {
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
    transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

/* content style */

.st-menu div#list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.st-menu h2 {
    margin: 0;
    padding: 1em;
    color: rgba(0,0,0,0.4);
    text-shadow: 0 0 1px rgba(0,0,0,0.1);
    font-weight: 300;
    font-size: 2em;
}

.st-menu div#list div.item a {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #f3efe0;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.st-menu div#list div.item a:hover {
    display: block;
    padding: 1em 1em 1em 1.2em;
    outline: none;
    box-shadow: inset 0 -1px rgba(0,0,0,0.2);
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 1px rgba(255,255,255,0.1);
    letter-spacing: 1px;
    font-weight: 400;
    -webkit-transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
}

.st-menu div#list div.item:first-child a {
    box-shadow: inset 0 -1px rgba(0,0,0,0.2), inset 0 1px rgba(0,0,0,0.2);
}

.st-menu div#list div.item a:hover {
    background: rgba(0,0,0,0.2);
    box-shadow: inset 0 -1px rgba(0,0,0,0);
    color: #fff;
}


.sbhint {
    position: absolute;
    left:0;
    top: 50%;
    background: #8dc63f;
    color: #fff;
    font-weight:bold;
    font-size:1.1em;
    padding:5px 10px 5px 10px;
    border-bottom-right-radius:5px;
    border-bottom-left-radius:5px;
    cursor:pointer;
    -webkit-transform-origin: 0 0;
    -webkit-transform: rotate(270deg);
}
.sbhint-mobile {
    background: #8dc63f;
    color: #fff;
    width:auto;
    text-align: center;
    font-weight:bold;
    font-size:1.1em;
    padding:5px 10px 5px 10px;
    cursor:pointer;
}
.sbhint:hover {
    box-shadow: 0 0 3pt 2pt rgba(88, 151, 251, 1);
}
.sidr {
    display: none;
    position: absolute;
    position: fixed;
    z-index: 999999;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    background: #8dc63f;
}

.active {
  border-top: none;
}


.sidr-box{
    border: 1px solid #d7d7d7;
    padding: 18px;
    height: 90px;
    background-color:#8dc63f;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
}
.sidr.left {
    left: -260px;
    right: auto;
}

#dMenuButton {
    padding: 5px 5px 0 5px;
    float: left;
    width: 70px;
    height: 70px;
}
#dMenuButton:hover {
    box-shadow: 0 0 3pt 2pt rgba(88, 151, 251, 1);
    background: #bac4d1;
}
.dMenuButton-hover {
    box-shadow: 0 0 3pt 2pt rgba(88, 151, 251, 1);
    background: #bac4d1;
}
.Content {
    padding: 10px;
    position: fixed;
    top: 75px;
    right: 0;
    bottom: 60px;
    left: 0;
    /*left: 250px;*/
    overflow: auto;
}
.Content-SB-Left {
    left: 260px;
}
.Content-SB-Right {
    right: 500px;
}

/* PLAYLIST */

.tutorial-title {
  color: #fff;
display: block;
font-family: 'Proxima Nova',sans-serif;
margin: 0 -14px;
padding-left: 14px;
padding-right: 14px;
padding-bottom: 3.5px;
text-decoration: none;
}

.playlist-title-box {
  background-color: #8dc63f;
  padding: 5px;
  margin-bottom: 5px;
  border-left: 2px solid #d3d3d3;
}

.task-title{

  color: #fff;
  font-family: 'Proxima Nova Bold',sans-serif;
  font-size: 24px;
  -webkit-font-smoothing: antialiased;  
}

nav {
  background: #333;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease;
}

nav.show {
  opacity: 1;
  visibility: visible;
}

progress {  
    background-color: #f3f3f3;  
    border: 0;  
    height: 18px;  
    border-radius: 9px;  
}  

progress {  
    background-color: #f3f3f3;  
    border: 0;  
    height: 18px;  
    border-radius: 9px;  
}  


 /* VIDEO STYLE */
.vendor {
position: relative;
padding-bottom: 56.25%;
padding-top: 0px;
height: 0;
margin: 0 0;
}

.vendor iframe {
position: absolute;
top: 20px;
left: 0;
width: 100%;
height: 100%;
}


